<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>西安培华学院物联网体温检测站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet">
    <link th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <!-- 顶部导航栏 -->
    <div th:insert="~{common::topbar}"></div>


    <div class="row">
        <!-- 侧边导航栏 -->
        <div th:insert="~{common::sidebar(active='cogo.html')}"></div>

        <div class="span9">
            <h1>出入记录</h1>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>用户编号</th>
                    <th>用户姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>身份证号</th>
                    <th>住址</th>
                    <th>进/入</th>
                    <th>温度</th>
                    <th>记录时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cogo:${cogolist}">
                    <td th:text="${cogo.getU_ID()}"></td>
                    <td th:text="${cogo.getU_NAME()}"></td>
                    <td th:text="${cogo.getU_SEX()}"></td>
                    <td th:text="${cogo.getU_AGE()}"></td>
                    <td th:text="${cogo.getU_IDCARD()}"></td>
                    <td th:text="${cogo.getU_HOME()}"></td>
                    <td th:text="${cogo.getA_WAY()}"></td>
                    <td th:text="${cogo.getT_TEMPERATURE()}"></td>
                    <td th:text="${cogo.getT_DATETIME()}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/site.js}"></script>

</body>
</html>

















