<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>西安培华学院物联网体温检测站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet">
    <link th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <!-- 顶部导航栏 -->
    <div th:insert="~{common::topbar}"></div>


    <div class="row">
        <!-- 侧边导航栏 -->
        <div th:insert="~{common::sidebar(active='temp.html')}"></div>

        <div class="span9">
            <h1>温度检测</h1>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>检测编号</th>
                    <th>用户编号</th>
                    <th>用户姓名</th>
                    <th>温度</th>
                    <th>检测时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="temp:${templist}">
                    <td th:text="${temp.getT_ID()}"></td>
                    <td th:text="${temp.getU_ID()}"></td>
                    <td th:text="${temp.getU_NAME()}"></td>
                    <td th:text="${temp.getT_TEMPERATURE()}"></td>
                    <td th:text="${temp.getT_DATETIME()}"></td>
                    <td>
                        <a th:href="@{/deleteTemp/} + ${temp.getT_ID()}" class="view-link">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="toggle-link" href="#new-project"><i class="icon-plus"></i>添加一条记录</a>


            <form action="/addTemp" method="post" id="new-project" class="form-horizontal hidden">
                <fieldset>
                    <legend>添加一条记录</legend>
                    <div class="control-group">
                        <label class="control-label" for="input01">用户编号</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01" name="U_ID"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="select01">进入方式</label>
                        <div class="controls">
                            <select id="select01" name="A_WAY">
                                <option value="出">出</option>
                                <option value="入" selected>入</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input02">温度</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input02" name="T_TEMPERATURE"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">添加</button>
                        <button class="btn" type="reset">重置</button>
                    </div>
                </fieldset>
            </form>


        </div>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/site.js}"></script>

</body>
</html>

















