<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>西安培华学院物联网体温检测站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet">
    <link th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <!-- 顶部导航栏 -->
    <div th:insert="~{common::topbar}"></div>


    <div class="row">
        <!-- 侧边导航栏 -->
        <div th:insert="~{common::sidebar(active='user.html')}"></div>

        <div class="span9">
            <h1>用户管理</h1>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
					<th>用户编号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>身份证号</th>
                    <th>住址</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${userlist}">
                    <td th:text="${user.getU_ID()}"></td>
                    <td th:text="${user.getU_NAME()}"></td>
                    <td th:text="${user.getU_SEX()}"></td>
                    <td th:text="${user.getU_AGE()}"></td>
                    <td th:text="${user.getU_IDCARD()}"></td>
                    <td th:text="${user.getU_HOME()}"></td>
                    <td>
                        <a th:href="@{/deleteUser/} + ${user.getU_ID()}" class="view-link">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="toggle-link" href="#new-project"><i class="icon-plus"></i>添加一个用户</a>


            <form action="/addUser" method="post" id="new-project" class="form-horizontal hidden">
                <fieldset>
                    <legend>添加一个用户</legend>
                    <div class="control-group">
                        <label class="control-label" for="U_NAME">姓名</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="U_NAME" id="U_NAME"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="select01">性别</label>
                        <div class="controls">
                            <select id="select01" name="U_SEX">
                                <option value="男" selected>男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="U_NAME">年龄</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="U_AGE" id="U_AGE"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="U_NAME">身份证号</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="U_IDCARD" id="U_IDCARD"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="U_HOME">住址</label>
                        <div class="controls">
                            <textarea class="input-xlarge" name="U_HOME" id="U_HOME" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">添加</button>
                        <button class="btn" type="reset">重置</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/site.js}"></script>

</body>
</html>

















