<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stq.temperaturecollectionsystem.mapper.CogoMapper">

    <select id="queryCogoList" resultType="Cogo">
    SELECT `user`.U_ID,`user`.U_NAME,`user`.U_SEX,`user`.U_AGE,`user`.U_IDCARD,`user`.U_HOME,temperature.A_WAY,temperature.T_TEMPERATURE,temperature.T_DATETIME FROM `user`,temperature WHERE `user`.U_ID = temperature.U_ID;
    </select>

</mapper>